/*--------------- GENERAL ---------------*/
body {
    font-size: 11px;
    color: #333;
    font-family: "lucida grande", arial, sans-serif;
}
h1 {
    font-size: 18px;
    margin: 0 0 20px;
    padding: 10px;
    color: #222;
    /*border-bottom: 1px solid #222;*/
}
h2 {
    font-size: 18px;
    margin: 20px 0;
    padding: 10px 10px;
    color: #f7f7f7;
    background-color: #222;
    text-align: center;
}
    h2.top { margin-top: 0; }
    h2 span.count {
        margin-left: .8em;
        color: #ccc;
        font-size: .78em;
    }
h3 {
    font-size: 14px;
    margin-top: 0;
    text-align: right;
/*    width: 100%;
    padding: 6px 12px;
    border-top: 1px solid #ccc;*/
}

/*--------------- CLASSES ---------------*/
.container {
    width: 800px;
    margin: 30px auto;
    padding: 0;
}
.header { text-align: center; }
.index, .main {
    border: 1px solid #222;
    border-width: 0 1px 1px 1px;
}
.index {
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center
}

h2.example-title { margin-bottom: 36px; }
p.description {
    font-size: 12px;
    padding: 0 8px;
}
.equations { }
.schema {
    text-align: center;
    vertical-align: middle;
}
    .schema.small .superblockwrap { margin: 0 2px; }
.plot { text-align: center; }
.input, .output, .prettyprint { /* See tomorrow.css */ }
.refs { padding: 0 20px 0 10px; }

.nopad { padding: 0; }
.section {
    margin: 0;
    padding: 0 15px;
}
.skip div.col { margin: 0 0 50px; }
.noskip div.col { margin: -50px 0 50px; }
.disp1 { }
.disp0 { display: none; }


/*--------------- SCHEMA ---------------*/
.icon {
    padding: 9px 6px 3px;
    margin: 5px;
    width: 200px;
    height: 105px;
    display: inline-block;
    text-align: center;
    color: #333;
    vertical-align: top;
}
    .icon:hover {
        text-decoration: none;
        background-color: #eff7ff;
    }
.iconblockwrap {
    margin: 9px 3px 0;
    display: inline-block;
}
    .iconblockwrap .Sym { padding: 0; }
    .iconblock td { border-color: #222; }
    .iconblock .BLK, .iconblock .COL, .iconblock .ROW, .iconblock .SCL {
        background-color: #bfbfbf;
    }

.superblockwrap {
    margin: 0 6px;
    display: inline-block;
}
.superblockwrap.unpadded {
    margin: 0 -6px;
}
    .superblock, .iconblock {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
    }
        .superblock td, .iconblock td {
            text-align: center;
            vertical-align: middle;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
        }
            .Blk, .BLK, .Col, .COL, .Row, .ROW, .Scl, .SCL {
                border: 1px solid #000;
                padding: 0;
            }
            .Blk, .Col, .Row, .Scl { background-color: #fff; }
            .BLK, .COL, .ROW, .SCL { background-color: #e3e3e3; }
            /*.Sym { padding: 2px; }*/
