/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
.prettyprint {
  background: #fafafa;
  /*font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;*/
  /*font-family: 'Source Code Pro',Monaco,Consolas,"Lucida Console",monospace;*/
  font-size: 10px;
  color: #555;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-right: 1px solid #fafafa;
  padding: 10px;
  border-radius: 0;
}

.pln {
  color: #4d4d4c;
}

@media screen {
  .str {
    color: #090; /*718c00*/
  }

  .kwd {
    color: #8959a8;
  }

  .com {
    color: #8e908c;
    font-style: italic;
  }

  .typ {
    color: #4271ae;
  }

  .lit {
    color: #c70; /*f5871f*/
  }

  .pun {
    color: #4d4d4c;
  }

  .opn {
    color: #4d4d4c;
  }

  .clo {
    color: #4d4d4c;
  }

  .tag {
    color: #900; /*c82829*/
  }

  .atn {
    color: #c70; /*f5871f*/
  }

  .atv {
    color: #3e999f;
  }

  .dec {
    color: #c70; /*f5871f*/
  }

  .var {
    color: #900; /*c82829*/
  }

  .fun {
    color: #4271ae;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
